@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ffe6eb;
    margin-top: 100px;
}

.buttons {
    margin-top: 40px;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* YES button */
.yes-button {
    background-color: #ff0055;
    color: white;
    animation: pulse 1.5s infinite;
}

/* NO button */
.no-button {
    background-color: #ddd;
}

/* SHAKE animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    50% { transform: translateX(6px); }
    75% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.4s;
}

/* PULSE animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 85, 0.6);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(255, 0, 85, 0);
    }
    100% {
        transform: scale(1);
    }
}
